<% if book.favorited_by?(current_user) %> 
  <p> <!-- link_to内にremote; true を追加することで、HTMLリクエストではなく、JavaScriptのリクエストがfavoritesコントローラに送られる！！-->
    <%= link_to book_favorites_path(book), method: :delete, remote: true, data: {"turbolinks" => false} do %> <!-- turbolinksを限定的に動かないようにするために記入。この記入がないと、リロードしないと反映されなくなる。 -->
      <i class="fas fa-heart" aeia-hidden="true" style="color: red;"></i>
      <span style="color: red;"><%= book.favorites.count %></span>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to book_favorites_path(book), method: :post, remote: true, data: {"turbolinks" => false} do %>
      ♡<%= book.favorites.count %>
    <% end %>
  </p>
<% end %>