$('.message').append("<p style='text-align: right;'><%= @chat.message %></p>");
$('input[type=text]').val("")

<!--$('.message').html("%= j(render 'chats/messages', chats: @chats) %>");-->
<!--$('input[type=text]').val("")-->